@import url(http://fonts.googleapis.com/css?family=Lato:100,300);
html{
	-webkit-font-smoothing: antialiased;

}

body{
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}

#menu{
	position: fixed;
	top: 5px;
	left: 5px;
	cursor: pointer;
	z-index: 4;
	color: #000;
	transition: color 1s ease;
	border: 1px solid #fff;
	padding: 5px;
}

.progress{
	display: block;
	background: #000;
	height: 100%;
	position: absolute;
	left: 0;
	width: 0%;
	z-index: 1;
	opacity: 0.5;
	transition: all 1s ease;
	top: 0;
}

.player{
	z-index: 2;
}

button{
	font-size: 3em;
	border: none;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	color: #FFF;
	padding: 1px 6px;
}

button:active{
	transition: box-shadow 0.2s;
	box-shadow: inset 1px 0px 5px 2px #000;
}

.overlay{
	position: fixed;
	color: #fff;
	left: 0;
	z-index: 3;
	background: rgba(0, 0, 0, 0.69);;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	top: -100%;
	transition: top 1s ease;
}

.loading{
	font-size: 5em;
	position: fixed;
	bottom: 150px;
	width: 100%;
	left: 0;
	text-align: center;
}

.contain{
	text-align: center;
}

.buttons{
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 0;
	display: inline-block;
}

.buttons li{
	list-style: none;
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 5px;
	cursor: pointer;
	min-width: 480px;
	float: left;
}

.buttons li:last-child{
	border-right: none;
}

.buttons li:hover{
	background: dodgerblue;
}

.listing{
	overflow: visible;
	text-align: left;
}

.listing input[type=search]{
	width: 100%;
}

.listing ul{
	padding-left: 0;
	list-style: none;
}

.now{
	display: block;
}

.songs{
	display: none;
}

.songs_ul li:hover{
	background: #1E90FF;
}

.search{
	display: none;
}